<div class="container-fluid">

  <nav class="navbar navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="" >INVENTORY</a>
    <ul class="navbar-nav d-flex flex-row ms-auto">
      <li class="nav-item me-3">
        <a class="nav-link active text-white" routerLink="">Dashboard</a>
      </li>
      <li class="nav-item me-3">
        <a class="nav-link text-white" routerLink="/product">Product</a>
      </li>
      <li class="nav-item  me-3">
        <a class="nav-link text-white" routerLink="supplier">Supplier</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" routerLink="customer/order">Customer Order</a>
      </li>
    </ul>
  </div>
</nav>

<router-outlet />
</div>
